<div class="row shadow-sm m-3" id="Commentary_{{ commentary.id }}">
	<div class="col col-1 mx-3">
		<img src={{ asset(avatars_directory ~ commentary.user.avatar) }} class="bd-placeholder-img card-img-top" width="32" height="32" alt="image"/>
		<p style="white-space: nowrap;">{{ commentary.user.Username }}</p>
		<br>
		<p style="white-space: nowrap;">{{ commentary.publishedDate|date('Y-m-d') }}</p>
		<br>
	</div>
	<div class="col">
		<p>{{ commentary.commentary }}</p>
	</div>
</div>
