<div class="col" id="trick_{{ trick.id }}">
	<div class="card shadow-sm">
		<a href="{{ path('show_trick', {'trickId': trick.id}) }}">
			<svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" aria-label="Placeholder: Thumbnail" preserveaspectratio="xMidYMid slice" role="img" focusable="false">
				<title>Placeholder</title>
				<rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
			</svg>
		</a>
		<div class="card-body">
			<div class="d-flex justify-content-between align-items-center col">
				<small class="text-muted">{{ trick.name }}</small>
					{{ include('trick/_deleteModifyButtons.html.twig') }}
			</div>
		</div>
	</div>
</div>

{{ include('trick/_deleteModal.html.twig') }}