 {% extends 'base.html.twig' %}
{% block stylesheet %}
<link href="{{ asset("Style/summernote/summernote-lite.min.css") }}" rel="stylesheet">

{% endblock %}

{% block javascript %}
  <script type="text/javascript" src="{{ asset("Style/js/jquery.js") }}"></script>
  <script type="text/javascript" src="{{ asset("Style/summernote/summernote-lite.min.js") }}"></script>
  <script type="text/javascript" src="{{ asset("Style/js/imagePreview.js") }}"></script>
  {% include('js/_transformTextArea.js.twig') %}
  {% block jsDeleteImage %}{% endblock %}
{% endblock %}


 {% block body %}
 
 <main>
    <div class="album py-5 bg-light position-relative trickPage">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="card shadow-sm">
              <div class="card-body">
                <div class="justify-content-between align-items-center col">
                  <div class="justify-content-between align-items-center col">
                        {{ form_start(trickForm) }}
                    {% if trick is not defined %}
                      {% set trick = {name: '', description: '', group: {'id': '1'}} %}
                      {% set submitButtonText = 'Add trick' %}
                    {% else %}
                    
                      {% set submitButtonText = 'Modify trick' %}
                        <div class="row">
                        {% if trick.mainMedia.type == 'image' %}
                          <img src="{{ asset('/uploads/images/' ~ trick.mainMedia.filename) }}" alt="">
                        {% else %}
                          <iframe width="100%" height="780" src="{{ trick.mainMedia.filename }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        {% endif %}
                        </div>
                      <div class="d-flex row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-5 my-4">
                      
                        {% for media in trick.medias %}
                            {{ include('trick/_medias.html.twig') }}
                        {% endfor %}
                      </div>
                    {% endif %}
                    
                      <div class="d-flex row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-5 my-4 preview">
                      </div>
                      <div id="trick">
                      
                        {{ form_row(trickForm.name, {'value': trick.name}) }}
                        {% if trick.id is not defined %}
                        <p class='text-danger mb-0'>The first image uploaded will be set as main Image!</p>
                        {% endif %}
                        {{ form_row(trickForm.images) }}
                        <div class="mb-3">
                        <ul id="video-fields-list"
                            style="list-style: none;"
                            data-prototype="{{ form_widget(trickForm.videos.vars.prototype)|e }}"
                            data-widget-tags="{{ '<li></li>'|e }}"
                            data-widget-counter="{{ trickForm.videos|length }}">
                          {% for video in trickForm.videos %}
                            <li class="mb-3">{{ form_widget(video) }}</li>
                          {% endfor %}
                        </ul>
                        <button type="button" class="add-another-collection-widget btn btn-dark" data-list-selector="#video-fields-list">Add another video</button>
                        </div>
                        {{ form_row(trickForm.description, {'value': trick.description}) }}
                        {{ form_row(trickForm.group, {'value': trick.group.id}) }}
                        <div class="buttons row mb-3">
                          <div class="btn-group justify-content-center">
                          <p class="mx-2">{{ form_widget(trickForm.Create_Trick, {'label': submitButtonText}) }}</p>
                          <p><a href="{{ relative_path(app.request.headers.get('referer')) }}" class="btn btn-danger" id="btnCancel">Cancel</a></p>
                          </div>
                        </div>
                        {{ form_end(trickForm) }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </main>
{% endblock %}