 {% extends 'base.html.twig' %}
{% block stylesheet %}
<link href="{{ asset("Style/summernote/summernote-lite.min.css") }}" rel="stylesheet">

{% endblock %}

{% block javascript %}
  <script type="text/javascript" src="{{ asset("Style/js/jquery.js") }}"></script>
  <script src="{{ asset("Style/summernote/summernote-lite.min.js") }}"></script>
  <script>
    $(document).ready(function() {
        $('#trick_description').summernote({
        placeholder: 'Description',
        tabsize: 2,
        toolbar: [
          ['style', ['style']],
          ['font', ['bold', 'underline', 'clear']],
          ['color', ['color']],
          ['para', ['ul', 'ol', 'paragraph']],
          ['table', ['table']],
          ['view', ['fullscreen', 'codeview', 'help']]
        ]
      });
    });
  </script>
{% endblock %}


 {% block body %}
 
 <main>
    <div class="album py-5 bg-light position-relative trickPage">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="card shadow-sm">
              <div class="card-body">
                <div class="justify-content-between align-items-center col">
                  <div class="justify-content-between align-items-center col">

                    {% if trick is not defined %}
                      {% set trick = {name: '', description: '', groupId: {'id': '1'}} %}
                      {% set submitButtonText = 'Add trick' %}
                    {% else %}
                      {% set submitButtonText = 'Modify trick' %}
                      <div class="d-flex row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-5 my-4">
                        {% for media in trick.medias %}
                            {{ include('trick/_medias.html.twig') }}
                        {% endfor %}
                      </div>
                    {% endif %}
                    <div class="row">
                      <div id="trick">
                        {{ form_start(trickForm) }}
                        {{ form_row(trickForm.name, {'value': trick.name}) }}
                        {{ form_row(trickForm.images) }}
                        {{ form_row(trickForm.description, {'value': trick.description}) }}
                        {{ form_row(trickForm.groupId, {'value': trick.groupId.id}) }}
                        <div class="buttons row mb-3">
                          <div class="btn-group justify-content-center">
                          <p class="mx-2">{{ form_widget(trickForm.Create_Trick, {'label': submitButtonText}) }}</p>
                          <p><a href="{{ relative_path(app.request.headers.get('referer')) }}" class="btn btn-danger" id="btnCancel">Cancel</a></p>
                          </div>
                        </div>
                        {{ form_end(trickForm) }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </main>
{% endblock %}