{% extends 'base.html.twig' %}

{% block title %}Hello TrickController!
{% endblock %}

{% block javascript %}
<script language = "javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script> 
<script language = "javascript">

offset = 15;
countTricks = {{ tricks|length }};

window.onload = function() {
	showLoadMore();
	showDownArrow();
};

function showDownArrow() {
	downArrow = document.getElementById('downArrow');
	if(countTricks > {{ limit }}) {
		downArrow.style.visibility = 'visible';
	} else {
		downArrow.style.visibility = 'hidden';
	}
}

function showLoadMore() {
	if(offset >= {{ maxTricks }}) {
		btn = document.getElementById('loadMore');
		btn.style.visibility = 'hidden';
	}
}

function loadMore() {
	$.ajax({
		url: "{{ path('app_tricksAjax') }}",
		type: "POST",
		data: {offset},

		success: function(result) {
			jsonContent = $.parseJSON(result);
			$.each(jsonContent, function(key, value){
			countTricks++;
			html = "";
			html += '						<div class="col" id="trick_' + value.id + '">';
			html += '				<div class="card shadow-sm">';
			html += '					<a href="{{ path("app_tricks") }}/' + value.id + '">';
			html += '						<svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" aria-label="Placeholder: Thumbnail" preserveaspectratio="xMidYMid slice" role="img" focusable="false">';
			html += '							<title>Placeholder</title>';
			html += '							<rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>';
			html += '						</svg>';
            html += '					</a>';
			html += '					<div class="card-body">';
			html += '';
			html += '						<div class="d-flex justify-content-between align-items-center col">';
			html += '							<small class="text-muted">' + value.name + '</small>';
			html += '							{% if is_granted("IS_AUTHENTICATED_FULLY") %}';
			html += '							<div class="btn-group">';
			html += '								<button type="button" class="btn btn-sm btn-outline-secondary">View</button>';
			html += '								<button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>';
			html += '							</div>';
			html += '							{% endif %}';
			html += '						</div>';
			html += '					</div>';
			html += '				</div>';
			html += '			</div>';
			
			$('#tricksCards').append(html);	
			});

			offset += 15;
			showLoadMore();
			showDownArrow();

		}
	})
}

</script>
{% endblock %}

{% block body %}

	<main>

		<div class="hero p-0 m-0">
			<h1 class="slogan d-inline">The snow must go on</h1>
			<a href="#tricks">
				<div class="arrow_container">
					<div class="chevron"></div>
					<div class="chevron"></div>
					<div class="chevron"></div>
				</div>
			</a>
		</div>

		<div class="album py-5 bg-light position-relative" id="tricks">
			<div class="container">

				<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-5 g-3 mb-3" id="tricksCards">


					{% for trick in tricks %}
						<div class="col" id="trick_{{ trick.id }}">
							<div class="card shadow-sm">
							<a href="{{ path('app_tricks') }}/{{ trick.id }}">
								<svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" aria-label="Placeholder: Thumbnail" preserveaspectratio="xMidYMid slice" role="img" focusable="false">
									<title>Placeholder</title>
									<rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
								</svg>
                            </a>
								<div class="card-body">

									<div class="d-flex justify-content-between align-items-center col">
										<small class="text-muted">{{ trick.name }}</small>
										{% if is_granted('IS_AUTHENTICATED_FULLY') %}
										<div class="btn-group">
											<button type="button" class="btn btn-sm btn-outline-secondary">View</button>
											<button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
										</div>
										{% endif %}
									</div>
								</div>
							</div>
						</div>
					{% endfor %}

				</div>
				<button onClick="loadMore()" class="btn btn-dark my-3 position-absolute bottom-0 start-50 translate-middle-x" id="loadMore">Load More</button>
				<a href="#tricks" id="downArrow">
					<div class="arrow_container">
						<div class="chevron2"></div>
						<div class="chevron2"></div>
						<div class="chevron2"></div>
					</div>
				</a>
			</div>

		</main>

	{% endblock %}
