{% extends 'base.html.twig' %}

{% block title %}Hello TrickController!{% endblock %}


{% block javascript %}
<script language = "javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script> 
<script language = "javascript">

offset = 5;

window.onload = function() {
	showLoadMore();
};

function showLoadMore() {
	if(offset >= {{ maxCommentarys }}) {
		btn = document.getElementById('loadMore');
		btn.remove();
	}
}

function loadMore() {
	$.ajax({
		url: "{{ path('loadmore_commentarys', {'id': trick.id}) }}",
		type: "POST",
		data: {offset},

		success: function(result) {
			jsonContent = $.parseJSON(result);
			$.each(jsonContent, function(key, value){
        date = new Date(value.publishedDate.date);
			html = "";
      html += '			 <div class="row shadow-sm m-3" id="Commentary_' + value.id + '">';
      html += '                      <div class="col col-1 mx-3">';
      var avatarRoute = '{{ asset(avatars_directory ~ 'image') }}';
			avatarRoute = avatarRoute.replace("image", value.user.avatar);
      html += '<img src="'+ avatarRoute +'" class="bd-placeholder-img card-img-top" width="32" height="32" alt="image"/>';
      html += '                        <p style="white-space: nowrap;">' + value.user.username + '</p>';
      html += '                      <br>';
      html += '                      <p style="white-space: nowrap;">' + date.getFullYear() + '-' + ("0" + (date.getMonth() + 1)).slice(-2) + '-' + ("0" + (date.getDate() + 1)).slice(-2) +'</p>';
      html += '                      <br>';
      html += '                      </div>';
      html += '                      <div class="col">';
      html += '                        <p>' + value.commentary + '</p>';
      html += '                      </div>';
                          html += '</div>';
			$('#commentarys').append(html);	
			});

			offset += 5;
			showLoadMore();

		}
	})
}

</script>
{% endblock %}

{% block body %}
 <main>
    <div class="album py-5 bg-light position-relative trickPage">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="card shadow-sm">
              <div class="card-body">
                {{ include('trick/_deleteModal.html.twig') }}
                <div class="row mb-2">
                  <div class="col">
                    <h1>{{ trick.name }}</h1>
                  </div>
                  <div class="col text-end">
                    {{ include('trick/_deleteModifyButtons.html.twig') }}
                  </div>
                </div>
                <div class="justify-content-between align-items-center col">
                  <div class="justify-content-between align-items-center col">
                  <div class="row">
                        {% if trick.mainMedia.type == 'image' %}
                          <img src="{{ asset(images_directory ~ trick.mainMedia.filename) }}" alt="">
                        {% else %}
                          <iframe width="100%" height="780" src="{{ trick.mainMedia.filename }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        {% endif %}
                  </div>
                  <div class="d-flex row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-5 my-4">
                  {% for media in trick.medias|filter( v => v != trick.mainMedia) %}
                    {{ include('trick/_medias.html.twig') }}
                  {% endfor %}
                  </div>
                    <div class="row" style="padding: 10px;">
                      
                      <p>{{ trick.description|raw }}</p>
                    </div>
                    <div class="row">
                      <div class="d-inline-flex justify-content-center">
                        <h4 class="mx-3">Created <span class="badge bg-secondary col">{{ trick.publishedDate|date('Y-m-d') }}</span></h4>
                        <h4 class="mx-3">By <span class="badge bg-secondary col">{{ trick.user.username }}</span></h4>
                        <h4 class="mx-3">In group <span class="badge bg-secondary col">{{ trick.group.name }}</span></h4>
                        <h4 class="mx-3">Last update <span class="badge bg-secondary col">
                        {% if trick.lastUpdated is null %}
                          Never
                        {% else %}  
                          {{ trick.lastUpdated|date('Y-m-d') }}
                        {% endif %}                          
                        </span></h4>
                      </div>
                    </div>
                    <hr>
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                      <div class="row">
                        {{ form(commentaryForm) }}
                          <script type="text/javascript">
                            textarea = document.querySelector("#{{ commentaryForm.commentary.vars.id }}");
                            textarea.addEventListener('input', autoResize, false);
                          
                            function autoResize() {
                                this.style.height = 'auto';
                                this.style.height = this.scrollHeight + 'px';
                            }
                          </script>
                      </div>
                      <hr>
                    {% endif %}
                    <div id="commentarys" class="mb-5">
                    
                    {% for commentary in commentarys %}
                      {{ include('trick/_commentarys.html.twig') }}
                    {% endfor %}
                    </div>
                  </div>
                  <div class="row">
                  <button onClick="loadMore()" class="btn btn-dark my-3 position-absolute bottom-0 start-50 translate-middle-x" id="loadMore">Load More</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </main>

{% endblock %}